{% extends 'espace-agent/layout.html.twig' %}

{% block title %}
  agent space
{% endblock %}


  {% block layout %}

  <br/> <br>
  <h1> Bienvenue dans l'Espace Agent </h1>

 
  {% endblock %}

{% block body %}
 
{% endblock %}
